.recipe__container{
    padding-top: 3rem;
    margin-top: 2rem;
}

.recipe__grid-item{

}

.recipe__grid-item>.item-background{
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    border-radius: 5px;
}

.recipe__grid-item>.item-background:hover{
    transform: scale(1.1);
}