.header__container{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    position: relative;
    background-color: $green;
}

.header__greetings{
    //margin: 0 auto;
    //color: $white;
    //position: relative;
    //z-index: 1;
    //
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.header__greetings-logo{
    width: 25rem;
}


.header__background{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    opacity: .6;
    background-image: url('../../../public/images/header.jpg');
}